 p {
    color: green;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: turquoise;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  #article-title {
    font-family: cursive;
  }
  
  