article {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
}

article > * {
    grid-column: 4;
}

article > figure {
    grid-column: 1 / -1;
    margin: 20px 0;
}

article > .aside {
    grid-column: 5 / -1;
}

article > blockquote {
    /* grid-column: 3 / span 2; */
    margin: 0px 0;
    color: #666;
    /* border-left: 3px solid black; */
    padding-left: 10px;
}

/* General styling */

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.italic-text {
    font-style: italic;
  }


/* Remove purple color for visited links */
a:visited {
    color: inherit;
  }
  
  /* Remove purple color for active (clicked) links */
  a:active {
    color: inherit;
  }
  
  /* Optional: Remove the underline for all links */
  a {
    text-decoration: none;
  }
  